/* UNIVERSAL SELECTOR */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT VARIABLES */
:root {
  --primary-color: linear-gradient(90deg, #58e6ff 0%, #fc81fe 100%);
  --secondary-color: linear-gradient(180deg, #282a36 0%, #2a2b3100 100%);
  --dark-color: #a9a4abc7;
  --White-color: #fff;
  --text--color: #6664e4;
  --text-black: #000;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-64: 64px;
  --fs-18: 18px;
  --fs-44: 44px;
  --fs-24: 24px;
  --fs-22: 22px;
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  --Lexend: "lexend";
  --Lexend-Deca: "lexend deca";
}

/* BODY */
body {
  font-size: var(--fs-16);
  color: var(--White-color);
  background-color: #000;
  line-height: 1.5;
  font-family: var(--Lexend-Deca);
}
/* CONTAINER HERE */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

/* CONTAINER FLUID */
.container-fluid {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
/* .ROW HERE */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--White-color);
}

img {
  display: block;
  max-width: 100%;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-left: 12px;
  padding-right: 12px;
}

/* HEADER BEGIN */
header {
  position: absolute;
  padding: 0 30px;
  width: 100%;
  z-index: 1;
}

header .logo a h2 {
  color: var(--White-color);
}
header .menu ul li a {
  color: var(--White-color);
  font-size: var(--fs-16);
  padding: 16px 20px;
  display: inline-block;
  border-radius: 8px;
  font-weight: var(--fw-500);
  transition: 0.5s;
}
header .menu ul li:last-child a {
  padding: 8px 22px;
  border: 1px solid #ffffff80;
  background-color: #212529;
  font-size: var(--fs-15);
  transition: 0.5s;
}
header .menu ul li a:hover {
  background-color: rgba(9, 31, 67, 0.04);
  color: #6664e4;
}

header .menu ul li:last-child a:hover {
  background: var(--White-color);
  color: #212529;
}

header .drop-down {
  position: absolute;
  background-color: var(--White-color);
  padding: 10px;
  border: 0;
  box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.15);
  border-top: 2px solid var(--primary-color);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  top: 100px;
  border-radius: 0 0 8px 8px;
}

header .drop-down ol li a {
  padding: 12px 12px 12px 22px;
  display: block;
  color: #212529a7;
}

header .drop-down ol li:last-child a {
  background-color: transparent;
  color: var(--text--color);
}

header .menu ul li .drop-down ol li:last-child:hover a {
  background-color: rgba(137, 43, 226, 0.078);
  color: var(--text--color);
}

header .drop-down ol li:hover a {
  background-color: rgba(137, 43, 226, 0.078);
  color: var(--text-black);
}

header .menu ul li:hover .drop-down {
  opacity: 1;
  visibility: visible;
  top: 54px;
}
/* HEADER FINISH*/

/* BANNER BEGIN */
.banner {
  background-image: url(/ASSETS/IMG/selo-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 125px 0;
  position: relative;
}
.bg-overlay {
  background: url(/ASSETS/IMG/bg-overlay.png);
  background-repeat: no-repeat;
  background-size: 65% auto;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-position: 50% 50%;
  opacity: 0.4;
}
.banner .banner-content {
  padding-right: 80px;
  position: relative;
}

.banner .banner-content .star {
  position: absolute;
  top: -60px;
  left: 75%;
  width: 44px;
  animation: rotate 8s infinite linear;
}
.banner .banner-content h1,
.service .title h2,
.research .research-content h2,
.seo .title h2,
.work .work-content h2 {
  font-size: var(--fs-64);
  font-family: var(--lexend-deca);
  line-height: 1.2;
  font-weight: var(--fw-600);
}
.banner .banner-content h1 .clip,
.service .title h1 .clip,
.research .research-content h2 .clip,
.seo .title h2 .clip,
.award-section .award-content h2 .clip,
.work .work-content h2 .clip,
.response .title h2 .clip,
.response .campaign .title h2 .clip {
  background-image: var(--primary-color);
  background-clip: text;
  display: inline-block;
}
.banner .banner-content h1 .clip span,
.service .title h1 .clip span,
.research .research-content h2 .clip span,
.seo .title h2 .clip span,
.award-section .award-content h2 .clip span,
.work .work-content h2 .clip span,
.response .title h2 .clip span,
.response .campaign .title h2 .clip span {
  color: transparent;
}
.banner .banner-content p,
.service-content p .research .research-content p,
.seo .title p,
.award-section .award-content p,
.work .work-content p,
.response .title p,
.response .campaign .title p {
  padding-bottom: 30px;
  color: var(--dark-color);
  font-size: var(--fs-18);
}
.banner .banner-content p span,
.service-content p span,
.research .research-content p span,
.seo .title p span,
.award-section .award-content p span,
.work .work-content p span,
.response .title p span,
.response .campaign .title p span {
  color: var(--White-color);
}
.banner .banner-content a {
  background: var(--primary-color);
  display: inline-block;
  padding: 15px 40px;
  border-radius: 50px;
  color: #000;
  font-family: var(--lexend-deca);
  font-weight: var(--fw-500);
  box-shadow: 19px 20px 60px 0px
    rgba(255, 165.99999999999991, 83.99999999999999, 0);
  transition: 0.5s;
}
.banner .banner-image img {
  margin-top: 40px;
}

.banner-content a:hover,
.research-content a:hover {
  transform: translateY(-10px);
}
.clip {
  display: inline-block;
}
.count {
  padding: 60px 0;
  text-align: center;
  border-bottom: 1px solid #7e82994d;
  margin-top: 50px;
}

.count h2 {
  font-family: var(--Lexend-Deca);
  font-size: 64px;
  font-weight: var(--fw-400);
  color: var(--White-color);
}

.count p {
  text-align: center;
  color: #a9a4abbd;
  font-family: var(--Lexend-Deca);
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
  letter-spacing: 0px;
}
/* BANNER FINISH */

/* SERVICE BEGIN */

.service {
  background-image: url(/ASSETS/IMG/service-bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  width: 100%;
  position: relative;
}
.service-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, #080a1000 0%, #080a10 100%);
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.service .title h1 {
  font-weight: var(--fw-500);
  font-size: var(--fs-44);
  line-height: 1.2;
  margin-bottom: 20px;
}

.service-content p {
  text-align: left;
  color: #a9a4abc7;
  font-family: var(--Lexend);
  font-size: var(--fs-18);
  font-weight: var(--fw-300);
  line-height: 1.2;
  margin-bottom: 20px;
}
.service .title h1.clip {
  display: inline-block;
}

.service-box {
  margin: 0px 0px 20px 0px;
  padding: 30px;
  background-color: transparent;
  border-radius: 40px;
  transition: 0.5s;
}

.service-box p {
  color: var(--dark-color);
}

.service-color {
  background-image: linear-gradient(180deg, #7e82992e 0%, #7e829900 100%);
}

.service-box:hover {
  background-image: linear-gradient(180deg, #7e82996b 0%, #7e829900 100%);
}
.px-0 {
  padding-right: 0;
  padding-left: 0;
}

/* SERVICE FINISH */
/* SERVICE 2 BEGIN */

.research {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
  position: relative;
  margin-top: 50px;
}

.research .research-content {
  position: relative;
}

.research .research-content h1 {
  font-family: var(--Lexend-Deca);
  font-size: var(--fs-44);
  font-weight: var(--fw-600);
  line-height: 1.2;
  letter-spacing: 0px;
}

.research .research-content p {
  text-align: left;
  color: var(--dark-color);
  font-family: var(--Lexend-Deca);
  font-size: var(--fs-18);
  font-weight: var(--fw-300);
  line-height: 1.2;
  margin: 30px 0px 30px 0px;
  padding: 10px 5px 20px 5px;
}


.research .research-content a {
  padding: 15px 40px;
  background: var(--primary-color);
  display: inline-block;
  border-radius: 50px;
  color: #000;
  font-size: var(--fs-18);
  font-weight: var(--fw-500);
  font-family: var(--Lexend-Deca);
  box-shadow: 19px 20px 60px 0px
    rgba(255, 165.99999999999991, 83.99999999999999, 0);
  transition: 0.5s;
}

.research .research-content h1 .clip {
  background-image: var(--primary-color);
  background-clip: text;
}

.research .research-content h1 .clip span {
  color: transparent;
}

.research .research-overlay {
  background-image: url(/ASSETS/IMG/bg-overlay.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: 45% auto;
  width: 100%;
  height: 80%;
  left: 0;
  background-position: 90% 45%;
  opacity: 0.4;
}

.research .research-image img {
  margin-top: 0;
}

.research .research-content .star {
  position: absolute;
  top: -100px;
  left: 100%;
  width: 44px;
  animation: rotate 8s infinite linear;
}
/* SERVICE 2 FINISH */

/* SEO BEGIN */

.seo {
  background-image: url(/ASSETS/IMG/ytfy.png);
  padding: 100px 0;
  position: relative;
  z-index: 1;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.seo-img-overlay {
  background-image: linear-gradient(180deg, #7e82992e 0%, #7e829900 100%);
  opacity: 1;
}
.seo .linear-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, #080a10 0%, #080a1000 100%);
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.seo-img-overlay .seo-overlay {
  background-image: url("/ASSETS/IMG/oval-2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}

.justify-between {
  justify-content: space-between;
}
.seo .title p {
  text-align: center;
  color: var(--dark-color);
  font-family: var(--Lexend-Deca);
  font-size: var(--fs-18);
  font-weight: var(--fw-300);
  line-height: 1.9em;
}

.justify-center {
  justify-content: center;
}

.seo .title h2 {
  font-size: var(--fs-44);
  text-align: center;
  font-weight: var(--fw-500);
}

.seo .title p span {
  color: var(--White-color);
}

.seo .seo-cart {
  border-radius: 40px;
  background-color: #7e82992e;
  padding: 25px;
  margin: 12px 0;
}

.seo .seo-cart img {
  width: 55px;
}

.seo .seo-cart h2 {
  font-size: var(--fs-22);
  font-family: var(--Lexend-Deca);
  margin: 12px 0;
  font-weight: var(--fw-500);
}

.seo .seo-cart p {
  font-size: var(--fs-18);
  font-family: var(--Lexend-Deca);
  margin: 12px 0;
  color: var(--dark-color);
  font-weight: var(--fw-300);
  line-height: 1.6em;
}

.seo .star {
  width: 45px;
  position: absolute;
  right: 200px;
  top: 18%;
  animation: rotate 8s infinite linear;
}

.seo .seo-cart {
  transition: transform 0.3s ease, background 0.3s ease, color 0.3s ease;
}

.seo .seo-cart:hover {
  background: var(--primary-color);
  color: black;
  transform: scale(1.05);
}
.seo .seo-cart:hover p {
  color: white;
}

/* SEO FINISH */

/* AWARD-SECTION-BEGIN */
.award-section {
  position: relative;
  background-image: url(/ASSETS/IMG/efvfe.png);
  padding: 100px 0;
  z-index: 1;
  background-color: #020710;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.award-linear-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, #080a11 0%, #02071000 100%);
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.award-img-overlay {
  background-image: url(/ASSETS/IMG/double-oval.png);
  background-repeat: no-repeat;
  background-position: 100% 80%;
  background-size: 50% auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
}

.award-section .award-content {
  padding: 16px;
}
.award-section .award-content h2 {
  font-size: var(--fs-44);
  font-weight: var(--fw-500);
  font-family: var(--lexend-deca);
  line-height: 1.2;
  margin-bottom: 25px;
}

.award-section .award-content .peoples img {
  width: 207px;
  display: inline-block;
}
.award-section .award-content .peoples span {
  font-size: var(--fs-16);
  margin-left: 20px;
}

.award-section .award-image .curve-text {
  background-image: url("/ASSETS/IMG/star.png");
  border: 30px solid #edb451;
  background-color: #edb451;
  border-radius: 50%;
  position: absolute;
  background-position: center;
  right: 19%;
  bottom: 11%;
  background-size: 80%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 8s infinite linear;
}

.award-section .award-image svg {
  width: 80px;
  height: 80px;
  overflow: visible;
  word-spacing: 16px;
  font-size: 42px;
}

.award-image svg path {
  fill: transparent;
}

/* AWARD-SECTION-FINISH */

/* SLIDER BEGIN */

.slider {
  width: 100%;
  height: 100%;
  align-items: center;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: #7e82994d;
  padding: 20px 0px 20px 0px;
  z-index: 0;
  background-color: #080a11;
}

.slider .col-1 img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.row {
  align-items: center;
  padding: 10px;
}

/* SLIDER FINISH */

/* WORK -SECTION BEGIN */
.work {
  background-image: url(/ASSETS/IMG/service-bg.png);
  padding: 100px 0;
  background-image: linear-gradient(180deg, #080a10d9 0%, #080a1000 100%);
  position: relative;
  z-index: 1;
  background-color: #080a10;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.work-linear-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, #080a10d9 0%, #020203f3 100%);
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.work-overlay-opacity .work-overlay {
  background-image: url("/ASSETS/IMG/double-oval.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
  height: 90%;
  width: 90%;
  top: 0;
  left: 0;
}

.work-overlay {
  z-index: -1;
  position: absolute;
}

.work .work-content {
  margin-top: 100px;
}

.work .work-content h2 {
  font-family: var(--Lexend-Deca);
  font-size: var(--fs-44);
  font-weight: var(--fw-500);
  line-height: 1.2;
  letter-spacing: 0px;
}

.work .work-content p {
  text-align: left;
  color: var(--dark-color);
  font-family: var(--Lexend-Deca);
  font-size: var(--fs-18);
  font-weight: var(--fw-300);
  line-height: 1.6;
  padding-top: 10px;
}

.work .work-box img {
  border-radius: 40px;
  height: 480px;
  transition: 0.5s;
}

.work .work-box span {
  font-size: 14px;
  color: var(--dark-color);
  display: block;
  font-family: var(--Lexend-Deca);
  text-transform: uppercase;
  padding: 15px;
}

.work .work-box h3 {
  font-size: 20px;
  font-family: var(--Lexend-Deca);
  color: var(--White-color);
  text-transform: uppercase;
  font-weight: var(--fw-500);
  padding: 0 15px;
}

.pt-60 {
  padding-top: 60px;
}

.work .work-box a img:hover {
  transform: rotate(3deg);
}

.work .star img {
  width: 44px;
  position: absolute;
  right: 10%;
  top: 15.5%;
  animation: rotate 8s infinite linear;
}
/* WORK-SECTION FINISH */
/* RESPONSE-SECTION-BEGIN */
.response {
  background-color: #080a10;
  background-image: url(/ASSETS/IMG/efvfe.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  z-index: 1;
  padding-top: 100px;
}
.response-linear-overlay {
  background-image: url("/ASSETS/IMG/bg-overlay.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.response .response-linear-overlay {
  background-color: transparent;
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  position: absolute;
  z-index: -1;
}

.margin {
  margin: 5px;
}

.response .title {
  text-align: center;
}
.response .title h2 {
  font-family: var(--Lexend-Deca);
  font-size: var(--fs-44);
  font-weight: var(--fw-500);
  line-height: 1.2em;
  letter-spacing: 0px;
}

.container .response-content {
  width: 540px;
  height: 271px;
  background-image: linear-gradient(180deg, #282a36 0%, #2a2b3100 100%);
  border-radius: 40px;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  border-color: #7e829917;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 35px 35px 35px 35px;
  z-index: 1;
}
.response .container .text-container {
  text-align: left;
  color: var(--White-color);
  font-family: var(--Lexend-Deca);
  font-size: var(--fs-22);
  font-weight: var(--fw-300);
  letter-spacing: 0px;
}

.pb-20 {
  padding-bottom: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}

.response .container .response-content .title-container {
  display: inline-block;
}
.response .container .response-content .title-container .title-1 h5 {
  color: #a9a4ab;
  font-family: var(--Lexend-Deca);
  font-size: 20px;
  font-weight: var(--fw-400);
  letter-spacing: 0px;
}
.response .container .response-content .title-container .title-2 h5 {
  color: #a9a4ab66;
  font-family: var(--Lexend-Deca);
  font-size: var(--fs-16);
  font-weight: var(--fw-500);
  letter-spacing: 0px;
}

.response .container .response-content {
  position: relative;
}

.response .container .response-content .title-container .title-2 .person-1 img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center center;
  border-radius: 100% 100% 100% 100%;
  position: absolute;
  right: 10%;
  top: 62%;
}

/* CAMPAIGN-SECTION-BEGIN */

.campaign {
  padding-top: 180px;
  padding-bottom: 80px;
}

.campaign .title a {
  padding: 15px 40px;
  background: var(--primary-color);
  display: inline-block;
  border-radius: 50px;
  color: #000;
  font-size: var(--fs-18);
  font-weight: var(--fw-500);
  font-family: var(--Lexend-Deca);
  box-shadow: 19px 20px 60px 0px
    rgba(255, 165.99999999999991, 83.99999999999999, 0);
  transition: 0.5s;
}

.campaign .title a:hover {
  transform: translateY(-10px);
}

.campaign .star img {
  width: 44px;
  position: absolute;
  bottom: 0;
  right: 320px;
  top: 950px;
  animation: rotate 8s infinite linear;
}

/* CAMPAIGN-SECTION-FINISH */
/* RESPONSE-SECTION-FINISH */
/* FOOTER BEGIN */
.foot-container {
  justify-content: space-around;
  align-items: center;
  margin-left: 150px;
  margin-top: 50px;
}

footer .text-container h2 {
  font-weight: var(--fw-600);
  font-size: 36px;
  line-height: 49px;
  letter-spacing: -0.022em;
}

footer .text-container p {
  font-size: 15px;
  letter-spacing: -0.009em;
}

.bottom {
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #333;
  padding: 30px 20px;
  font-size: 13px;
  color: var(--dark-color);
  margin-top: 40px;
  text-align: center;
}

.bottom .copy-right {
  margin: 0;
}

.footer-nav a {
  color: var(--White-color);
  text-decoration: none;
  margin: 0 10px;
  font-size: 13px;
  transition: 0.5s;
}

.footer-nav a:hover {
  color: var(--text--color);
}
/* FOOTER FINISH */

@keyframes rotate {
  0% {
    transform: rotate(-0deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-0deg);
  }
}
